<a href="https://colab.research.google.com/github/PranavPutsa1006/Data-Science/blob/main/Handling_MissingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("weather.csv",parse_dates=["day"])
df

         day  temperature  wind speed weather
0 2020-01-01         32.0         6.0   Rainy
1 2020-01-04          NaN         9.0   Sunny
2 2020-01-05         28.0         NaN    snow
3 2020-01-06          NaN         7.0     NaN
4 2020-01-07         32.0         NaN   Rainy
5 2020-01-08          NaN         NaN   sunny
6 2020-01-09          NaN         NaN     NaN
7 2020-01-10         34.0         8.0  cloudy
8 2020-01-11         40.0        12.0   sunny

None and NaN (Not a Number)

In [ ]:
import pandas as pd
df = pd.read_csv("weather.csv",parse_dates =["day"])
df.set_index('day',inplace= True)
new_df=df.fillna(0)
new_df

In [ ]:

new_df = df.fillna({
    'temperature':0,
    'wind speed':0,
    'weather':'no_event'
    })
new_df

            temperature  wind speed   weather
day
2020-01-01         32.0         6.0     Rainy
2020-01-04          0.0         9.0     Sunny
2020-01-05         28.0         0.0      snow
2020-01-06          0.0         7.0  no_event
2020-01-07         32.0         0.0     Rainy
2020-01-08          0.0         0.0     sunny
2020-01-09          0.0         0.0  no_event
2020-01-10         34.0         8.0    cloudy
2020-01-11         40.0        12.0     sunny

In [ ]:
new_df=df.fillna(method="ffill")
new_df

            temperature  wind speed weather
day
2020-01-01         32.0         6.0   Rainy
2020-01-04         32.0         9.0   Sunny
2020-01-05         28.0         9.0    snow
2020-01-06         28.0         7.0    snow
2020-01-07         32.0         7.0   Rainy
2020-01-08         32.0         7.0   sunny
2020-01-09         32.0         7.0   sunny
2020-01-10         34.0         8.0  cloudy
2020-01-11         40.0        12.0   sunny

In [ ]:
new_df=df.fillna(method="bfill",axis="columns")
new_df

           temperature wind speed weather
day
2020-01-01          32          6   Rainy
2020-01-04           9          9   Sunny
2020-01-05          28       snow    snow
2020-01-06           7          7     NaN
2020-01-07          32      Rainy   Rainy
2020-01-08       sunny      sunny   sunny
2020-01-09         NaN        NaN     NaN
2020-01-10          34          8  cloudy
2020-01-11          40         12   sunny

In [ ]:
new_df=df.fillna(method="ffill",limit=1)
new_df

            temperature  wind speed weather
day
2020-01-01         32.0         6.0   Rainy
2020-01-04         32.0         9.0   Sunny
2020-01-05         28.0         9.0    snow
2020-01-06         28.0         7.0    snow
2020-01-07         32.0         7.0   Rainy
2020-01-08         32.0         NaN   sunny
2020-01-09          NaN         NaN   sunny
2020-01-10         34.0         8.0  cloudy
2020-01-11         40.0        12.0   sunny

In [ ]:
new_df=df.fillna(method="ffill",limit=2)
new_df

            temperature  wind speed weather
day
2020-01-01         32.0         6.0   Rainy
2020-01-04         32.0         9.0   Sunny
2020-01-05         28.0         9.0    snow
2020-01-06         28.0         7.0    snow
2020-01-07         32.0         7.0   Rainy
2020-01-08         32.0         7.0   sunny
2020-01-09         32.0         NaN   sunny
2020-01-10         34.0         8.0  cloudy
2020-01-11         40.0        12.0   sunny

In [ ]:
new_df=df.interpolate()
new_df

            temperature  wind speed weather
day
2020-01-01    32.000000        6.00   Rainy
2020-01-04    30.000000        9.00   Sunny
2020-01-05    28.000000        8.00    snow
2020-01-06    30.000000        7.00     NaN
2020-01-07    32.000000        7.25   Rainy
2020-01-08    32.666667        7.50   sunny
2020-01-09    33.333333        7.75     NaN
2020-01-10    34.000000        8.00  cloudy
2020-01-11    40.000000       12.00   sunny

In [ ]:
new_df = df.interpolate(method="time")
new_df

In [ ]:
new_df=df.dropna()
new_df

            temperature  wind speed weather
day
2020-01-01         32.0         6.0   Rainy
2020-01-10         34.0         8.0  cloudy
2020-01-11         40.0        12.0   sunny

In [ ]:
new_df=df.dropna(how='all')
new_df

            temperature  wind speed weather
day
2020-01-01         32.0         6.0   Rainy
2020-01-04          NaN         9.0   Sunny
2020-01-05         28.0         NaN    snow
2020-01-06          NaN         7.0     NaN
2020-01-07         32.0         NaN   Rainy
2020-01-08          NaN         NaN   sunny
2020-01-10         34.0         8.0  cloudy
2020-01-11         40.0        12.0   sunny

In [ ]:
new_df=df.dropna(thresh=3)
new_df

            temperature  wind speed weather
day
2020-01-01         32.0         6.0   Rainy
2020-01-10         34.0         8.0  cloudy
2020-01-11         40.0        12.0   sunny

In [ ]:

dt= pd.date_range("01/01/2020","01/11/2020")
idx = pd.DatetimeIndex(dt)
df = df.reindex(idx)
df

            temperature  wind speed weather
2020-01-01         32.0         6.0   Rainy
2020-01-02          NaN         NaN     NaN
2020-01-03          NaN         NaN     NaN
2020-01-04          NaN         9.0   Sunny
2020-01-05         28.0         NaN    snow
2020-01-06          NaN         7.0     NaN
2020-01-07         32.0         NaN   Rainy
2020-01-08          NaN         NaN   sunny
2020-01-09          NaN         NaN     NaN
2020-01-10         34.0         8.0  cloudy
2020-01-11         40.0        12.0   sunny